$green: #0a94b6;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;
$dark: #1a1a1a;
$light: #e6e6e6;

*{
  box-sizing: border-box;
  // overflow-y: hidden;
}

#serverChatDiv {
  height: 75vh;
}

.chat {
  // width: 100%;
  // float: left;
  background: #f2f5f8;
  border-radius: 5px;
  color: #434651;

  height: 90%;

  color: #434651;
  li {
    list-style: none;
  }
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 63vh;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.write {
  form {
    border-radius: 5px;
    height: 10%;
  }
  input {
    padding: 13px;
    height: 58px;
    width: 95%;
    font-size: 16px;
    border-radius: 5;
    outline: none;
    background-color: #7c4c4cc7;
  }
}
.button-chat {
  border: none;
  padding: 10px;
  height: 62px;
  outline: none;
  i {
    font-size: 20px;
    color: $green;
  }
}

#sendMessageForm {
  background-color: rgba(128, 128, 128, 0.425);
  height: 10%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  #newMessage {
    background: none !important;
    color: black;
    width: 90%;
    display: inline;
    border: none;
    font-size: medium;
  }

  #newMessage:enabled {
    box-shadow: none;
    border: none;
  }

  #sendMessageBtn {
    color: #38798a;
    font-size: x-large;
    cursor: pointer;
  }
}

.media-btn {
  border: none;
  font-size: 1.7em;
  background-color: #e3e6e5;
  padding: 0.2em;
  border-radius: 5px;
  margin: 0 5px;
  box-shadow: 1px 1px 3px #aaaaaa i {
    color: #474747;
  }
}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

// .box:nth-child(even) {
//   background-color: #ccc;
//   color: #000;
// }

.wrapper {
  overflow-y: scroll;
}