.Nav {
  height: 10vh;
  background-color: #0a95b6;
}

#logoImg {
  width: 30%;
  height: 80%;
  object-fit: cover;
  margin-left: 15%;
  cursor: pointer;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  color: white !important;
}

#sign_up {
  background-color: white;
  color: #0a95b6 !important;
  border-radius: 10px;
}
