* {
  box-sizing: border-box;
}

.serversCol {
  height: 74vh;
    margin-left: 3.5em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

/*********** Slider Styling + Image hover ************************ */

.sliderDiv {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderDiv .slick-track{
  margin-left: 0;
  margin-right: 0;
}

.slider {
  width: 100%;
}

.sliderImg {
  width: 100% !important;
  height: 8em;
  border-radius: 15px;
  display: block;
  object-fit: cover;
  box-shadow: 2px 2px 5px #91919159;
}

.sliderImgContainer {
  position: relative;
  width: 10em !important;
  height: 8em;
}

.sliderOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #115769c7;;
  border-radius: 15px;

}

.sliderImgContainer:hover .sliderOverlay {
  opacity: 1;
  cursor: pointer;
}

.sliderText {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/********************************************************/

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: black !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**********************Scroll bar edit*************************/

/* width */
.serversCol::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
}

/* Track */
.serversCol::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.serversCol::-webkit-scrollbar-thumb {
  background: #0a94b6;
  border-radius: 10px;
}

/* Handle on hover */
.serversCol::-webkit-scrollbar-thumb:hover {
  background: #0d6e86;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/********** Footer *******************/

#footerRow {
  background-color: #38798A;
  height: 9.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ownedServer, #notOwnedServers {
  width: 40%;
  /* overflow-x: scroll; */
  padding: 0 2em;
  background-color: #88949730;
  border-radius: 7px;
  height: 60px;
}


#ownedServer .slick-track, #notOwnedServers .slick-track{
  height: 63px;
    margin-left: 0;
    margin-right: 0;

}


#ownedServer::-webkit-scrollbar {
  display: none;
}

#notOwnedServers {
  width: 55%;
  margin-right: 1em;
  overflow-x: scroll;
}

#notOwnedServers::-webkit-scrollbar {
  display: none;
}

#createServerIcon {
  width: 50px !important;
  height: 50px;
  color: white;
  cursor: pointer;
}

.serverSpan {
  position: relative;
  margin-left: 10px;
  width: fit-content !important;
  cursor: pointer;
}

.footerServerListImg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  /* display: inline-block; */
  margin-top: 0.5em;
}

.settingsIcon {
  position: absolute;
  top: -15px;
  left: 0;
}


#ownedServer .slick-next, #ownedServer.slick-prev{
  display: block;
  /* // background-color: #c9dee378; */
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 1em;
  right: -22px;
}
#ownedServer .slick-prev{
left: -26px;
}

#notOwnedServers .slick-next, #notOwnedServers.slick-prev{
  display: block;
  /* // background-color: #c9dee378; */
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 1em;
  right: -22px;
}
#notOwnedServers .slick-prev{
left: -26px;
}

/*******************Modal Styling***************************/

/* .modalHeader {
  background-color: #0a94b65e !important;
  border: none !important;
}

.modalBody {
  background-color: #0a94b667 !important;
  border-radius: 15px !important;
  color: white;
}

.modalBody img {
  border-radius: 15px;
}

.modalBody Button {
  background-color: white !important;
  color: #0a94b6;
  border: 1px solid #0a94b6;
  border-radius: 10px;
  width: fit-content;
  font-size: large;
}

.modalBody Button:hover {
  background-color: white !important;
  color: #0a94b6;
  border: 1px solid #0a94b6;
  border-radius: 10px;
  width: fit-content;
  font-size: large;
}

.modalBody Button:enabled {
  background-color: white !important;
  color: #0a94b6;
  border: 1px solid #0a94b6;
  border-radius: 10px;
  width: fit-content;
  font-size: large;
}

.modal-content {
  background: none !important;
  border: none !important;
  width: fit-content;
} */
